@{
    ViewData["Title"] = "Comunicação";
    Layout = "~/Views/Shared/_LayoutMorador.cshtml";
}


<div class="container mt-4">
    <h2 class="text-primary">
        <i class="bi bi-bell"></i> Central de Comunicação
    </h2>
    <p class="text-muted">Bem-vindo à área de comunicação do condomínio.</p>

    <div class="alert alert-info mt-4">
        Nenhum comunicado disponível no momento.
    </div>
</div>